.calibre {
  box-sizing: border-box;
  font-size: 0.75em;
}
.calibre1 {
  box-sizing: border-box;
  display: block;
  font-size: 0.75em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre2 {
  box-sizing: border-box;
  font-size: 1em;
}
.calibre3 {
  box-sizing: border-box;
  display: block;
  font-size: 0.55556em;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
.calibre4 {
  box-sizing: border-box;
  font-size: 1.8em;
}
.calibre5 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  width: 400px;
  border: black solid 1px;
}
.calibre6 {
  box-sizing: border-box;
  display: block;
  font-size: 1.8em;
}
.calibre7 {
  box-sizing: border-box;
  font-size: 1em;
  height: 18px;
  margin-top: 2px;
  width: 72px;
  border: black solid 1px;
}
.calibre8 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  font-weight: bold;
  page-break-before: always;
  margin: 0;
}
.calibre9 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  padding-left: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre10 {
  box-sizing: border-box;
  font-size: 1em;
  font-style: italic;
}
.calibre11 {
  box-sizing: border-box;
  font-size: 1em;
  font-weight: bold;
}
.calibre12 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  width: auto;
}
.calibre13 {
  box-sizing: border-box;
  font-size: 1.28571em;
  font-style: italic;
}
.calibre14 {
  box-sizing: border-box;
  display: block;
  font-size: 1.28571em;
  padding-left: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre15 {
  box-sizing: border-box;
  display: block;
  font-size: 1.28571em;
  padding-left: 0;
  text-align: center;
  text-indent: 1.5em;
  margin: 0;
}
.calibre16 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  width: auto;
  margin: 4px 5px 4px 4px;
  border: black solid 1px;
}
.calibre17 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  width: auto;
  margin: 4px 4px 4px 5px;
  border: black solid 1px;
}
.calibre18 {
  box-sizing: border-box;
  display: block;
  font-size: 1.28571em;
  font-weight: bold;
  margin: 1em 0;
}
.calibre19 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  padding-left: 0;
  text-align: center;
  text-indent: 1.5em;
  margin: 0;
}
.calibre20 {
  box-sizing: border-box;
  display: block;
  font-size: 0.77778em;
  padding-left: 0;
  text-align: center;
  text-indent: 1.5em;
  margin: 0;
}
.calibre21 {
  box-sizing: border-box;
  font-size: 1.28571em;
  height: auto;
  width: 50px;
  margin: 4px;
  border: black solid 1px;
}
.calibre22 {
  box-sizing: border-box;
  display: block;
  font-size: 0.77778em;
  padding-left: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre23 {
  box-sizing: border-box;
  font-size: 1.28571em;
  font-weight: bold;
}
.calibre24 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  width: 50px;
  margin: 4px;
  border: black solid 1px;
}
.calibre25 {
  box-sizing: border-box;
  float: right;
  font-size: 1em;
  height: auto;
  width: 70px;
  margin: 2px 4px 4px;
  border: black solid 1px;
}
.calibre26 {
  box-sizing: border-box;
  float: left;
  font-size: 1em;
  height: auto;
  width: 50px;
  margin: 8px 10px 4px 4px;
  border: black solid 1px;
}
.calibre27 {
  box-sizing: border-box;
  float: right;
  font-size: 1em;
  height: auto;
  width: 55px;
  margin: 10px 4px 4px;
  border: black solid 1px;
}
.calibre28 {
  box-sizing: border-box;
  float: left;
  font-size: 1em;
  height: auto;
  width: 55px;
  margin: 12px 10px 4px 4px;
  border: black solid 1px;
}
.calibre29 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  width: auto;
  margin: 4px;
  border: black solid 1px;
}
.calibre30 {
  box-sizing: border-box;
  float: right;
  font-size: 1em;
  height: auto;
  width: 70px;
  margin: 15px 4px 4px;
  border: black solid 1px;
}
.calibre31 {
  box-sizing: border-box;
  float: left;
  font-size: 1em;
  height: auto;
  width: 50px;
  margin: 25px 10px 20px 4px;
  border: black solid 1px;
}
.calibre32 {
  box-sizing: border-box;
  float: right;
  font-size: 1em;
  height: auto;
  width: 55px;
  margin: 20px 4px 4px;
  border: black solid 1px;
}
.calibre33 {
  box-sizing: border-box;
  float: left;
  font-size: 1em;
  height: auto;
  width: 55px;
  margin: 25px 10px 4px 4px;
  border: black solid 1px;
}
.calibre34 {
  box-sizing: border-box;
  display: block;
  font-size: 1.28571em;
  font-weight: bold;
  margin: 0.3em 0 0;
}
.calibre35 {
  box-sizing: border-box;
  display: block;
  font-size: 1.28571em;
  list-style-type: disc;
  margin: 1em 0;
}
.calibre36 {
  box-sizing: border-box;
  display: list-item;
  font-size: 1em;
}
.calibre37 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  width: auto;
  border: black solid 1px;
}
.calibre38 {
  box-sizing: border-box;
  display: block;
  font-size: 1.28571em;
  margin: 1em 0;
}
.calibre39 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  margin-left: 40px;
}
.calibre40 {
  box-sizing: border-box;
  display: block;
  font-size: 1.28571em;
  font-weight: bold;
  text-align: center;
  margin: 0.3em 0 0;
}
.calibre41 {
  box-sizing: border-box;
  display: block;
  font-size: 1.28571em;
  list-style-type: decimal;
  margin: 1em 0;
}
.calibre42 {
  box-sizing: border-box;
  font-size: 0.55556em;
}
.calibre43 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  text-align: center;
}
.calibre44 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  margin: 0.3em 0 0;
}
.calibre45 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 0.3em 0 0;
}
.calibre46 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  list-style-type: disc;
  margin: 1em 0;
}
.calibre47 {
  box-sizing: border-box;
  font-size: 1em;
  text-decoration: line-through;
}
.calibre48 {
  box-sizing: border-box;
  display: block;
  font-size: 0.55556em;
  padding-left: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre49 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  margin: 1em;
}
.calibre50 {
  box-sizing: border-box;
  font-size: 1.8em;
  font-weight: bold;
}
.calibre51 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  text-align: center;
  width: auto;
}
.calibre52 {
  box-sizing: border-box;
  font-size: 1.8em;
  font-style: italic;
}
.calibre53 {
  box-sizing: border-box;
  display: block;
  font-size: 1.28571em;
}
.calibre54 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  width: 350px;
  border: black solid 1px;
}
.calibre55 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  list-style-type: decimal;
  margin: 1em 0;
}
.calibre56 {
  box-sizing: border-box;
  font-size: 1em;
  height: auto;
  width: auto;
  margin: 0;
}
.commentary {
  box-sizing: border-box;
  display: block;
  font-size: 0.77778em;
}
.commentary1 {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  padding-bottom: 0;
  padding-top: 0;
}
.commentary2 {
  box-sizing: border-box;
  display: block;
  font-size: 0.77778em;
  text-align: center;
}
.content {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
}
.rss-title {
  box-sizing: border-box;
  font-size: 1.28571em;
}
.strip {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  text-align: left;
}
.title {
  background: #eee;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-size: 0.77778em;
  font-weight: bold;
  padding: 2px;
  border-bottom: #333 solid 1px;
  border-left: #333 solid 15px;
}
.title1 {
  background: #eee;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-size: 0.77778em;
  font-weight: bold;
  text-align: right;
  padding: 2px;
  border-top: #333 solid 1px;
  border-right: #333 solid 15px;
  border-bottom: #333 solid 1px;
  border-left: currentColor none 0;
}
